body {
  min-width:465px;
  overflow-x:hidden;
}

.large-field {
	width: 360px;
}

th {
	font-weight: bold;
	float:left;
}

.small-font {
	font-size:small;
}

.xlarge-field {
	width: 416px;
}

.midItem {
	vertical-align:middle;
	line-height: 1.5em;
}

#options {
	height: 400px;
	width: 100%;
}

#options_form label {
	font-weight: bold;
	margin-left: 20px;
}

#options_form #save_options {
	float: left;
}

#tabs-3 a{
	text-decoration: none;
	font-weight: bold;
	color: #285c00;
}
